
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.RazorTargetAssemblyInfo.cache
*.pdb
*.targets
*.xml
*.dll
*.cache
PropertiesApi_And_Database/PropertiesDatabase/bin
PropertiesApi_And_Database/PropertiesDatabase/obj
PropertiesApi_And_Database/PropertiesAPI.Tests/obj
PropertiesApi_And_Database/PropertiesAPI.Tests/bin
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin
PropertiesApi_And_Database/.vs
roofstock-properties-ui/node_modules
deleteThis