
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.RazorTargetAssemblyInfo.cache
*.pdb
*.targets
*.xml
*.dll
*.cache
PropertiesApi_And_Database/PropertiesDatabase/bin/Debug/netcoreapp2.2/RoofstockPropertyDatabase.runtimeconfig.json
PropertiesApi_And_Database/PropertiesDatabase/bin/Debug/netcoreapp2.2/RoofstockPropertyDatabase.runtimeconfig.dev.json
PropertiesApi_And_Database/PropertiesDatabase/bin/Debug/netcoreapp2.2/RoofstockPropertyDatabase.deps.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.deps.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.exe
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.runtimeconfig.dev.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.runtimeconfig.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.Tests.deps.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.Tests.runtimeconfig.dev.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/PropertiesAPI.Tests.runtimeconfig.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/testhost.exe
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/Debug/net5.0/PropertiesAPI.Tests.AssemblyInfo.cs
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/Debug/net5.0/PropertiesAPI.Tests.csproj.CopyComplete
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/MockApiData.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/appsettings.json
PropertiesApi_And_Database/PropertiesAPI.Tests/bin/Debug/net5.0/appsettings.Development.json
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/Debug/net5.0/PropertiesAPI.Tests.csproj.FileListAbsolute.txt
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/Debug/net5.0/PropertiesAPI.Tests.GeneratedMSBuildEditorConfig.editorconfig
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/project.assets.json
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/PropertiesAPI.Tests.csproj.nuget.dgspec.json
PropertiesApi_And_Database/PropertiesAPI.Tests/obj/PropertiesAPI.Tests.csproj.nuget.g.props
PropertiesApi_And_Database/PropertiesDatabase/obj/RoofstockPropertyDatabase.csproj.nuget.g.props
PropertiesApi_And_Database/PropertiesDatabase/obj/RoofstockPropertyDatabase.csproj.nuget.dgspec.json
PropertiesApi_And_Database/PropertiesDatabase/obj/project.assets.json
PropertiesApi_And_Database/PropertiesDatabase/obj/Debug/netcoreapp2.2/RoofstockPropertyDatabase.csproj.FileListAbsolute.txt
PropertiesApi_And_Database/PropertiesDatabase/obj/Debug/netcoreapp2.2/RoofstockPropertyDatabase.AssemblyInfo.cs
PropertiesApi_And_Database/PropertiesDatabase/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/PropertiesAPI_Roofstock.csproj.nuget.g.props
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/PropertiesAPI.csproj.nuget.g.props
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/PropertiesAPI_Roofstock.csproj.nuget.dgspec.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/PropertiesAPI.csproj.nuget.dgspec.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/project.assets.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.MvcApplicationPartsAssemblyInfo.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.GeneratedMSBuildEditorConfig.editorconfig
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.csproj.FileListAbsolute.txt
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.csproj.CopyComplete
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI_Roofstock.AssemblyInfo.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI.MvcApplicationPartsAssemblyInfo.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI.GeneratedMSBuildEditorConfig.editorconfig
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI.csproj.FileListAbsolute.txt
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI.csproj.CopyComplete
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/PropertiesAPI.AssemblyInfo.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/apphost.exe
PropertiesApi_And_Database/PropertiesAPI_Roofstock/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI_Roofstock.runtimeconfig.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI_Roofstock.runtimeconfig.dev.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI_Roofstock.exe
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI_Roofstock.deps.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI.runtimeconfig.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI.runtimeconfig.dev.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI.exe
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/PropertiesAPI.deps.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/appsettings.json
PropertiesApi_And_Database/PropertiesAPI_Roofstock/bin/Debug/net5.0/appsettings.Development.json
PropertiesUI/package-lock.json
